.cache
.cache/
.DS_Store
.dynamodb/
.env
.env.test
.eslintcache
.fusebox/
.grunt
.lock-wscript
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.class
*.crt
*.ctxt
*.ear
*.jar
*.lcov
*.log
*.log
*.nar
*.pem
*.pid
*.pid.lock
*.rar
*.seed
*.sh
*.tar.gz
*.tgz
*.tsbuildinfo
*.war
*.zip
bower_components
build/Release
buildNumber.properties
coverage
dependency-reduced-pom.xml
dist
hs_err_pid*
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
pids
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
target/
web_modules/
yarn-debug.log*
yarn-error.log*

!dotfiles.sh
identities/*
!identities/.gitkeep